*,
* ::before,
*::after {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.container {
    border-radius: 5px;
    background-color: darksalmon;
    width: 800px;
    max-width: 70%;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.start-btn:hover {
    border-color: aquamarine;
}

.btn-grid {
    display: grid;
    gap: 20px;
    margin: 10px 0;
}

.btn1 {
    border-radius: 5px;
    padding: 5px, 10px;
    outline: none;
}

.btn1:hover {
    border-color: aquamarine;
}

#timer {
    position: absolute;
    top: 30px;
    right: 40px;
    height: 30px;
}

#timer:hover input {
    background-color: mistyrose;
    height: 40px
}

#timer input {
    height: 30px;

}

/* #endpage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */